web/node_modules/
web/dist/

engine/**/__pycache__/
*.egg-info/
backend/**/*.pyc
engine/.venv/
engine/.env

engine/data/input/*
engine/data/interim/*
engine/data/cache/*
engine/data/output/*
!engine/data/**/.gitkeep
